# pip install langchain
langchain
# pip install -qU "langchain[anthropic]"
langchain[anthropic]


# pip install langchain-core langgraph>0.2.27
langchain-core
langgraph>0.2.27
# pip install -qU "langchain[anthropic]"
langchain[anthropic]


# pip install -U langgraph
langgraph
# pip install -qU "langchain[anthropic]" to call the model
langchain[anthropic]